<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Ana Sayfa</title>
    <script>
        function artir() {
            fetch('/artir/')
                .then(response => response.json())
                .then(data => {
                    document.getElementById("sayaç").innerText = data.counter;
                });
        }
    </script> 
    
</head>
<body>
    <h1>Butonlu Sayaç</h1>
    <p>Sayaç değeri: <span id="sayaç">{{ counter }}</span></p>
    <button onclick="artir()">Artır</button>
</body>
</html>
